@import '../../../styles/colors';

.proyecto-screen{

    .div-tarea{
        background-color: $lightGray;
        padding: 1rem;
        margin-top: 1rem;

        .botonera{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }

    }

    .botonesProyectoArriba{
        display: flex;
        
    }

}